# Always normalize text files to LF on commit
* text=auto

# Explicitly set line endings for JS/TS/HTML/CSS/MD/etc.
*.js text eol=lf
*.ts text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.sh text eol=lf
